*{
    font-family:"Montserrat","Poppins";
}

body{
    margin:0;
  

}
.container{
    height:100vh;
    margin:0 auto;
    background-color:white;
    overflow:auto;
}
.header{
   display:flex;
   float: left;

 
 
}
.subheader{
    display:flex;
   font-size:10px;
   margin-top:3em;
   /* background-color: black; */
   width: 150em;
   justify-content: space-evenly;
   flex-direction: row;
} 
.super-header{
    display:flex;
    float:left;

    
    
}
.super-header img{
margin-top:2.2em;
margin-left: 3em;
}
.super-header h1{
    margin-top:1em;
    margin-right:1em;
}

.paystack-dropdown{
    float: left;
    overflow: hidden;
}
.paystack-dropdown.icon{
    display:flex;
    justify-content:space-between;
    margin-right: 4em;
}
.paystack-dropdown img{
    border-radius: 100px;
}
.subheader2{
    display:flex;
    justify-content: flex-end;
    position: flex;
    margin-left:30em;
    gap:1em;
    /* margin-top: 3.5em; */
    float: right;
    
}
.header.subheader2 h1{
    flex-direction: row;
    justify-content: space;
   
}
.sub{
    margin-right: 15em;
    /* width: 80px; */
    display: flex;
}
.sub img{
    margin-left:2em;
    margin-top: 1em;
    
}
.sub button{
    width: 180px;
    height: 50px; 
    cursor: pointer;
    margin-bottom:4em ;
   color:white;
    background-color:green;
    border-radius: 1em;
    font-size: 0.9em;
    border:0;
    margin-top:0;
    margin-left: 20em;
   
}
.subheader2 {
    display: flex;
    gap:3em;
}
.subheader2 img{
    margin-top:0.6em;
    margin-right:100em;
}
.intro-informations{
display:flex;
justify-content:center
}
.viewport{
    margin-top:25em;
    justify-content: center;
    margin-left: 7em;

    
}
.button-section1{
    display:flex;
}
.button-section1 p{
    margin-left: 1.5em;
}
.viewport h1{
    font-size:3em;
}
.button-section1 button{
    background-color:green;
   color:white;
   width:190px;
   height:80px;
   border-radius:0.5em;
   border: 0px;
}
.middle-section{
    margin-top:5em;
    justify-content:space-between;
    flex-direction: row;
    width:100%;
    height:20em;
     
}
.images-section{
    
    justify-self: space-between;
     display:flex; 
     gap:3em
}
.form-group{
    margin-left:25em;
}
.button-section2 button{
    margin-right:3em;
    border-radius:100px;
    box-shadow: 0px;
}



.middle-section.image-section img{
  margin-right: 4em;
  height: 100px;
  width: 100px;
    
}
.button-section1 button{
    height: 40px;
    width: 160px;
    /* border-radius: 100px; */
    
}
.middle-layer{
    height:35em;
    width:80em;
    /* background-color:black; */
    margin-left: 7em;
    margin-top: 2em;

}
.sub-middle-layer{
    display:flex;
    justify-content:space-between;
}
.sub-middle-layer img{
    height: 100px;
    width: 60px;
}


